## 파일 생성

In [1]:
from pandas import DataFrame, Series 
import pandas as pd 

f = open("test.csv", "w")
f.write("h,a,n,a,m \n")
f.close()

In [35]:
# !cat test.csv
!type test.csv

h,a,n,a,m

In [2]:
with open("test.csv", "a") as f:
    f.write("1,2,3,4,5 \n")
    f.write("1,2,3,4,5 \n")

In [37]:
# !cat test.csv
!type test.csv

h,a,n,a,m
1,2,3,4,5
1,2,3,4,5

In [38]:
with open("test.csv",'r') as f:
    for line in f:
        print(line, end='')

h,a,n,a,m
1,2,3,4,5
1,2,3,4,5

## 옵션
'r'	Open a file for reading. (default)  
'w'	Open a file for writing. Creates a new file if it does not exist or truncates the file if it exists.  
'x'	Open a file for exclusive creation. If the file already exists, the operation fails.  
'a'	Open for appending at the end of the file without truncating it.   Creates a new file if it does not exist.
't'	Open in text mode. (default)  
'b'	Open in binary mode.  
'+'	Open a file for updating (reading and writing)

In [39]:
with open("test.csv", "w") as f:
    f.write("a,b,c,d,message \n")
    f.write("1,2,3,4,hello \n")
    f.write("5,6,7,8,world \n")
    f.write("9,10,11,12,foo \n")

In [3]:
!cat test.csv
!type test.csv

h,a,n,a,m
1,2,3,4,5
1,2,3,4,5
test.csv not found

In [41]:
pd.read_csv('test.csv')  # 자동으로 컬럼명을 만든다

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [42]:
pd.read_csv('test.csv', header=None)

   0   1   2   3         4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [43]:
pd.read_csv('test.csv', header=1)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [44]:
pd.read_csv('test.csv', names=['A','B','C','D','E'])

   A   B   C   D         E
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [45]:
!type test.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [46]:
pd.read_csv('test.csv', nrows=2)  # 상위 2개의 행만 읽음
# pd.read_csv('data/ex1.csv', index_col='message')

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [47]:
df = pd.read_csv('test.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [48]:
df.to_csv('./temp/output.csv')

In [49]:
!type output.csv

지정된 파일을 찾을 수 없습니다.

## 디렉토리 관리

In [50]:
import os
os.getcwd()

'C:\\Users\\choe\\dsac_m1'

In [51]:
os.chdir('C:\\Users\\choe\\dsac_m1')
os.getcwd()

'C:\\Users\\choe\\dsac_m1'

In [52]:
os.listdir()

['.ipynb_checkpoints',
 'data',
 'firstCode.ipynb',
 'gg-00-의존성.ipynb',
 'gg-01-파이선기초.ipynb',
 'gg-01-파이선기초.zip',
 'gg-02-numpy.ipynb',
 'gg-03-pandas.ipynb',
 'gg-04-데이터시각화.ipynb',
 'gg-05-데이터프레임연습.ipynb',
 'gg-06-데이터처리.ipynb',
 'gg-07-파일다루기.ipynb',
 'gg-08-날짜데이터.ipynb',
 'gg-08-날짜데이터.zip',
 'gg-09-데이터크롤링.ipynb',
 'gg-09-데이터크롤링.zip',
 'gg-10-스크레이핑.ipynb',
 'gg-10-스크레이핑.zip',
 'gg-11-부동산정보.ipynb',
 'gg-12-국제상품가격.ipynb',
 'gg-13-스타벅스매장지도.ipynb',
 'gg-14-나이브베이즈.ipynb',
 'happy',
 'HelloWorld.ipynb',
 'new_one',
 'temp',
 'test',
 'test.csv',
 'test1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

In [53]:
os.mkdir('temp2')

In [54]:
os.listdir()

['.ipynb_checkpoints',
 'data',
 'firstCode.ipynb',
 'gg-00-의존성.ipynb',
 'gg-01-파이선기초.ipynb',
 'gg-01-파이선기초.zip',
 'gg-02-numpy.ipynb',
 'gg-03-pandas.ipynb',
 'gg-04-데이터시각화.ipynb',
 'gg-05-데이터프레임연습.ipynb',
 'gg-06-데이터처리.ipynb',
 'gg-07-파일다루기.ipynb',
 'gg-08-날짜데이터.ipynb',
 'gg-08-날짜데이터.zip',
 'gg-09-데이터크롤링.ipynb',
 'gg-09-데이터크롤링.zip',
 'gg-10-스크레이핑.ipynb',
 'gg-10-스크레이핑.zip',
 'gg-11-부동산정보.ipynb',
 'gg-12-국제상품가격.ipynb',
 'gg-13-스타벅스매장지도.ipynb',
 'gg-14-나이브베이즈.ipynb',
 'happy',
 'HelloWorld.ipynb',
 'new_one',
 'temp',
 'temp2',
 'test',
 'test.csv',
 'test1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

In [57]:
os.rename('temp','happy')
os.remove('output.csv')
os.rmdir('temp2')

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: 'output.csv'

In [58]:
os.listdir()

['.ipynb_checkpoints',
 'data',
 'firstCode.ipynb',
 'gg-00-의존성.ipynb',
 'gg-01-파이선기초.ipynb',
 'gg-01-파이선기초.zip',
 'gg-02-numpy.ipynb',
 'gg-03-pandas.ipynb',
 'gg-04-데이터시각화.ipynb',
 'gg-05-데이터프레임연습.ipynb',
 'gg-06-데이터처리.ipynb',
 'gg-07-파일다루기.ipynb',
 'gg-08-날짜데이터.ipynb',
 'gg-08-날짜데이터.zip',
 'gg-09-데이터크롤링.ipynb',
 'gg-09-데이터크롤링.zip',
 'gg-10-스크레이핑.ipynb',
 'gg-10-스크레이핑.zip',
 'gg-11-부동산정보.ipynb',
 'gg-12-국제상품가격.ipynb',
 'gg-13-스타벅스매장지도.ipynb',
 'gg-14-나이브베이즈.ipynb',
 'happy',
 'HelloWorld.ipynb',
 'new_one',
 'temp2',
 'test',
 'test.csv',
 'test1',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

In [7]:
import json

In [5]:
# json은 python에서처럼 '으로 하면 안된다. 현재 """로 감싸 문자열로 저장되어 있기 때문에 
# javascript에서는 '를 string 값으로 인식하지 않아서 에러 발생
obj = """
{
    "name": "Choi",
    "places_lived": ["Seoul", "Korea"],
    "pet": null, "siblings": [{"name": "Scott", "age":25, "pet":"Zuko"}]
}
"""

In [10]:
result = json.loads(obj)
result

{'name': 'Choi',
 'places_lived': ['Seoul', 'Korea'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 25, 'pet': 'Zuko'}]}

In [11]:
type(result)

dict

In [63]:
asjson = json.dumps(result)
asjson

'{"name": "Choi", "places_lived": ["Seoul", "Korea"], "pet": null, "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"}]}'